{%- if site.data.commands.size > 0 -%}
<div class="commands-list">
  {%- for command in site.data.commands -%}
  <div class="command-item">
    <h2>
      <code>/{{ command.name }}</code>
    </h2>
    <p>{{ command.description }}</p>
    <p class="command-usage"><code>{{ command.usage }}</code></p>
    <a href="{{ '/commands/' | append: command.name | append: '/' | relative_url }}"
      >view details<span class="visually-hidden"> for /{{ command.name }}</span></a
    >
  </div>
  {%- endfor -%}
</div>
{%- endif -%}
